<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Aktivitas</h1>
	<table>
		<tr>
			<th>No</th>
			<th>Nama Kegiatan</th>
			<th>Tgl</th>
			<th>Keterangan</th>
			<th>Aksi <a href="/form">tambah</a></th>
		</tr>

		<tr th:each="baris: ${tabel}">
			<td>[[${baris.no}]]</td>
			<td>[[${baris.nama}]]</td>
			<td>[[${baris.tgl}]]</td>
			<td>[[${baris.keterangan}]]</td>
			<td>
				<a th:href="@{'/ubah?no='+${baris.no}}">ubah</a>
				<a th:href="@{'/hapus?no='+${baris.no}}">hapus</a>
			</td>
		</tr>
	</table>
</body>
</html>